#camel{
  display: block;
  margin-left:45%;
  margin-right:55%;
  width: 256px;
  height: 256px;
  position: absolute;
  top:50%;
  transition: all 0.19s ease-in-out;
}
#camel:hover{
  transform: scale(1.1);
}
#camel:active{
  transform: scale(0.93);
}