#store{
  background-color: rgba(250, 213, 165,0.7);
  display: flex;
  width: 20%;
  height: 55vh;
  border-radius: 45px;
  align-items: center;
  flex-direction: column;
  float:right;

}
button{
  font-family: "Comic Sans MS", serif;
  background-color: rgb(250, 213, 165);
  margin-top: 20px;
  border-radius: 45px;
}
h1{
  top:10%;
}
